/* club-index */
.club-index-inner{
    display: inline-block;
    padding-right: 7px;
    padding-left: 7px;
}

.club-card{
    margin-bottom: 20px;
}

.club-index-name{
    display: inline-block;
    padding: 5px;
    font-size: 20px;
}

.club-index-intro{
    margin-top: -11px;
     padding-bottom: 5px;
     padding-left: 5px;
     padding-right: 5px;
     font-size: 14px;
     color: #434343;
}

.button-club-index{
    display: inline-block;
    color: #929292 !important;
    border-color: #929292;
    border-width: 2px;
    font-size: 14px;
    padding-right: 2px;
    padding-left: 2px;
}

.svg-line{
    padding-left: 5px;
}

.club-view{
    text-align: center;
}

.club-intro-detail{
    margin: auto;
    width: 510px;
    margin-top: 1rem;
    font-size: 18px;
    color: #434343;
    text-align: center;
}

.content-club-view{
    width: 800px;
    margin: auto;
    font-family: 'WONDotum';
    color: #434343;
}

.member-view{
    margin-top: 2rem;
}

.subheading{
    font-size: 22px;
    margin-top: 2rem;
}

.svg-line-club-view{
    margin: 0;
}

.sub-content{
    margin-top: -1rem;
}

.memeber-info{
    text-align: center;
}

.button-in-club-view{
    margin: auto;
    margin-top: 4rem;
    text-align: center;
}

.button-in-club-view-pink{
    font-size: 18px;
    margin: 0.3rem;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    background-color: #FFD0D6;
    color: white;
    border-radius: 20px;
    display: inline-block;
}

.button-in-club-view-yellow{
    margin: 0.3rem;
    font-size: 18px;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    background-color: #FEE19F;
    color: white;
    border-radius: 20px;
    display: inline-block;
}

/*my clubs 내 동아리*/
p.no-club{
 font-size: 30px;
 color: #000;
 text-align: center;
}

div.my-clubs{
    /*margin: 0 auto;*/
    /*text-align: center;*/
    
}

.my-club-align{
    max-width: 25%;
}

.index-inner-my-club{
    position: relative;
    padding-right: 7px;
    padding-left: 7px;
}