/* main-index */
.content-outline{
    margin-top: 40px;
    margin-bottom: 50px;
}

.content{
    width: 1000px;
    margin: auto;
    font-family: 'WONDotum';
}

.content-main{
    margin-top: 50px;
    text-align: center;
}

.thumnail-in-main{
    width: 90px;
    margin-bottom: 7px;
}

.content-title{
    font-size: 2.5rem;
    text-align: center;
    font-family: 'WONDotum';
    margin-bottom: 40px;
}

/* club-index */
.club-index-inner{
    width: 25%;
    display: inline-block;
    padding-right: 7px;
    padding-left: 7px;
}

.club-index-name{
    padding: 5px;
    font-size: 20px;
}

.club-index-intro{
    margin-top: -11px;
     padding-bottom: 5px;
     padding-left: 5px;
     padding-right: 5px;
     font-size: 14px;
     color: #434343;
}

.svg-line{
    padding-left: 5px;
}

.club-view{
    text-align: center;
}

.club-intro-detail{
    font-size: 14px;
    color: #434343;
    text-align: center;
}