<!-- => member_manage.css-->

<div class="member_manage_body">
    <div class="member_middle">
        <a href="/apply_content/index">
            <div class="button_member_manage">
                <p>지원자 관리</p>
            </div>
        </a>
        <a href="/club/club_members">
            <div class="button_member_manage button_manage_right">
                <p>회원 목록</p>
            </div>
        </a>
    </div>
</div>

