<!DOCTYPE html>
<html lang="ko">
<head>
  
	<!-- meta data -->
	<meta charset="UTF-8">
	<meta name="author" content="BE: 김승래, 함진경, 한현수 / FE: 박결, 홍다은">
	<meta name="description" content="성공회대 모임 찾기/가입 플렛폼입니다.">
	<meta name="keywords" content="성공회대, 동아리, 소모임, 학생회, 단체"> 	
    
    <!--title-->
  <title>Ari Check</title>
  
    <!--style-->
	<link rel="stylesheet" href="assets/reset.css">
	<link rel="stylesheet" href="assets/login_style.css">
  <link rel="stylesheet" href="assets/signup.css">
  
  
    <!--link-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  
  <!--nav bar-->
  <div class="header">
    <div class="header-wrapper">
        <div class="header-content">
            <div class="menu">
                <!--<a class="menu-yellow" href="#">전체 회원 목록</a> 사이트 관리자만 볼 수 있음-->
                <a class="menu-pink" href="/club/index">동아리 목록</a>
                <a class="menu-yellow" href="#">현재 가입 가능 동아리</a>
                <a class="menu-pink" href="#">????</a>
            </div>
            <a class="logo-link" href="/">
                <img class="logo" src="/assets/logo.png" alt="logo-img" width="300px">
            </a>
            <div class="menu">
                <a class="menu-yellow" href="#">회의록</a>
                <a class="menu-pink" href="#">???</a>
                
				      <% if current_user == nil %>
  				  		<a class="menu-yellow" href="/users/sign_in">로그인</a>
  				  		<a class="menu-pink" href="/users/sign_up">회원가입</a>
				        
				      <% else %>
    			      <a class="menu-yellow" href="#">내 정보</a>
    		  		  <a class="menu-pink" href="/users/sign_out">로그아웃</a>
				      <% end %>
				      
            </div>
        </div>
    </div>
  </div>

  <%= yield %>

  <!--footer-->
  <footer>
    <div class="footer-outline">
      <div class="footer-content">
        <div class="footer-top">
          <img src="/assets/logo-footer.png" alt="logo-footer" class="logo-footer">
          <div class="footer-name">
            <a href="#" class="name-item">만든이 :</a>
            <a href="#" class="name-item">김승래</a>
            <a href="#" class="name-item">함진경</a>
            <a href="#" class="name-item">박결</a>
            <a href="#" class="name-item">한현수</a>
            <a href="#" class="name-item">홍다은</a>
          </div>
          <div class="social-buttons">
            <!-- 동연 페이스북 연결 -->
            <a href="#"><img src="/assets/facebook-l.png" alt="facebook" class="social-img"></a>
            <a href="#"><img src="/assets/facebook-c.png" alt="facebook" class="social-img"></a>
          </div>
        </div>
        
        <div class="footer-bottom">
          <p class="footer-description">Made By LIKELION : 멋쟁이 사자처럼</p>
          <p class="footer-description">서울특별시 구로구 연동로 320</p>
          <p class="footer-description">대표번호: 070-0000-0000</p>
          <p class="footer-description">문의: aricheck@gmail.com</p>
        </div>
        
      </div>
    </div>
  </footer>


  
</body>
</html>
