<!DOCTYPE html>
<html lang="ko">
<head>
  
	<!-- meta data -->
	<meta charset="UTF-8">
	<meta name="author" content="BE: 김승래, 함진경, 한현수 / FE: 박결, 홍다은">
	<meta name="description" content="성공회대 모임 찾기/가입 플렛폼입니다.">
	<meta name="keywords" content="성공회대, 동아리, 소모임, 학생회, 단체"> 	
	
	<!--viewport 반응형준비-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!--title-->
  <title>Ari Check</title>
  
    <!--style-->
	<link rel="stylesheet" href="/assets/reset.css">
	<link rel="stylesheet" href="/assets/login_style.css">
  <link rel="stylesheet" href="/assets/signup.css">
 	<link rel="stylesheet" href="/assets/textarea-style.css">  
  
  
    <!--link-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  <!--font-->
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  
  <!--nav bar-->
  <div class="header">
    <div class="header-wrapper">
        <div class="header-content">
            <div class="menu">
                <!--<a class="menu-yellow" href="#">전체 회원 목록</a> 사이트 관리자만 볼 수 있음-->
                <a class="menu-pink" href="/club/index">동아리 목록</a>
                <a class="menu-yellow" href="/club/appliable_club">현재 가입 가능 동아리</a>
                <% if user_signed_in? %>
                  <a class="menu-pink" href="/club/my_club">내 동아리</a>
                <% end %>
            </div>
            <a class="logo-link" href="/">
                <img class="logo" src="/assets/logo.png" alt="logo-img" width="250px">
            </a>
            <div class="menu">
                <% if user_signed_in? && (current_user.authorization == "1" || current_user.authorization == "0") %>
                  <a class="menu-yellow video_new" href="/video/new" title="위치 확정 아님">동영상 등록</a>
                <% end %>
                <a class="menu-pink video_index" href="/video/index" title="위치 확정 아님">동영상 보기</a>
                
				      <% if current_user == nil %>
  				  		<a class="menu-yellow" href="/users/sign_in">로그인</a>
  				  		<a class="menu-pink" href="/users/sign_up">회원가입</a>
				        
				      <% else %>
				        <% if current_user.authorization == '0' %>
    			        <a class="menu-yellow" href="/club/club_members">전체 회원 목록</a>
    			      <% elsif current_user.authorization == '1' %>
    			        <a class="menu-yellow" href="/club/club_members">단체 회원 목록</a>
    			      <% else %>
    			        <a class="menu-yellow" href="/users/index">내 정보</a>
    			      <% end %>
    		  		  <a class="menu-pink" href="/users/sign_out">로그아웃</a>
				      <% end %>
				      
            </div>
        </div>
    </div>
  </div>

  <%= yield %>

  <!--footer-->
  <footer>
    <div class="footer-outline">
      <div class="footer-content">
        <div class="footer-top">
          <img src="/assets/logo-footer.png" alt="logo-footer" class="logo-footer">
          <div class="footer-name">
            <p class="name-item">만든이 :</p>
            <p class="name-item">김승래</p>
            <p class="name-item">함진경</p>
            <p class="name-item">박결</p>
            <p class="name-item">한현수</p>
            <p class="name-item">홍다은</p>
          </div>
          <div class="social-buttons">
            <!-- 동연 페이스북 연결 -->
            <a href="https://www.facebook.com/SkhuLion/"><img src="/assets/facebook-l.png" alt="facebook" class="social-img"></a>
            <a href="https://www.facebook.com/clubsofskhu/"><img src="/assets/facebook-c.png" alt="facebook" class="social-img"></a>
          </div>
        </div>
        
        <div class="footer-bottom">
          <p class="footer-description">Made By LIKELION : 멋쟁이 사자처럼</p>
          <p class="footer-description">서울특별시 구로구 연동로 320</p>
          <p class="footer-description">대표번호: 070-0000-0000</p>
          <p class="footer-description">문의: aricheck@gmail.com</p>
        </div>
        
      </div>
    </div>
  </footer>


  
</body>
</html>
